#root {
  font-size: 14px;
  height: 100vh;
  max-height: 800px;
}

.size {
  width: 100px;
}

.far, .fas {
  cursor: pointer;
  margin-right: 7px;
}

.fa-edit {
  color: #158cba;
}

.fa-trash-alt {
  color: #ff4136;
}

.form-control {
  padding: 15px 7px;
  font-size: 10px;
  display: inline;
}

.buscar{
    padding: 20px;
  }
  
#input{
    position: absolute;
    width: 0px;
    height: 40px;
    top: 15px;
    right: 320px;
    padding: 0 20px;
    font-size: 18px;
    color: #000;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;
  }
  
  #btn-buscar{
    position: absolute;
    top: 14px;
    right: 319px;
    background: #0d3c5c;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
  }

  .buscar:hover #input{
      width: 240px;
  }

  .buscar #input:focus{
      width: 240px;
  }

  .titulo {
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 15px;
  }