:root {
  --primary: #158cba;
  --brand-success: #28b62c;
  --brand-info: #75caeb;
  --brand-warning: #ff851b;
  --brand-danger: #ff4136;
  --bg-color: #3282b8;
  --title-color: #bbe1fa;
  font-size: 14px;
  height: 100vh;
  max-height: 800px;
}

.topping {
  margin-top: 0.3rem;
  vertical-align: text-bottom;
}

.result {
  margin-top: 1rem;
}

